<h2><%= @ad.name %>
<br><small>Posted by <%= link_to @ad.renter.user_name, @ad.renter %></small></h2>
<ul>
  <img src= <%= @ad.image_path %> class="resize">
  <br><p class="lead"><%= @ad.item_description %></p>
<% @ad.comments.each do |review| %>
<li>"<%= review.comment %>" - <%= link_to review.rentee.user_name, review.rentee %></li>
<% end %>
</ul>
<% if !!session[:user_id] %>
<%= form_for @comment do |f| %>
<%= f.hidden_field :ad_id, :value => @ad.id %>
<%= f.label "Leave a Comment:" %>
<%= f.text_field :comment %>
<%= f.submit "Post" %>
<% end  %>
<% end %>
