<h2> <%= @user.user_name %> </h2><br>
<h3>About</h3><br>
<h4>Email: <%= @user.email %></h4>
<h4>Location: <%= @user.location %></h4>


<h4><%= @user.user_name %>'s Ads:</h4>
<ul>
<% @user.ads.each do |ad| %>
<li><%= link_to ad.name, ad %></li>
<% end %>
</ul>

<h4>Recent Comments:</h4>
<ul>
<% @user.comments.each do |review| %>
<li>"<%= link_to review.comment, review.ad %>"</li>
<% end %>

  </ul>
