<h2> <%= @user.user_name %> </h2><br>
<img src=<%= @user.img_path %> class="img-thumbnail" id="profile_pic">
<br>
<h3>About</h3>
<p><h4>Email:</h4><%= @user.email %>
<h4>Location:</h4> <%= @user.location %>


<h4><%= @user.user_name %>'s Ads:</h4>

<% @user.ads.each do |ad| %>
<%= link_to ad.name, ad %>
<% end %>

<h4>Recent Comments:</h4>
<% @user.comments.each do |review| %>
"<%= link_to review.comment, review.ad %>"
<% end %>
