<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div><%= link_to "Home", root_path %></div>
    <div>
      <% if session[:user_id] %>
        <%= link_to "My Profile", user_path(session[:user_id]) %><br>
        <%= link_to "Logout", logout_path, method: :delete %>
        <div><%= link_to "Post an ad", new_ad_path %></div>

      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      </div>
    <div><br>
      <%= form_tag("/search", method: "post") do %>
  <%= label_tag(:q, "Search for Items:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
    </div>
    <%= yield %>
  </body>
</html>
