<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .jumbotron {
        background-color:#FFDD00;
        color:black;
      }
      /* Adds borders for tabs */
      .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
      }
      .nav-tabs {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body>
    <div class="container">
    <div class="page-header">
      <%= link_to "Home", root_path %>
      <% if session[:user_id] %>
        <%= link_to "My Profile", user_path(session[:user_id]) %>
        <p class="text-right"><%= link_to "Logout", logout_path, method: :delete %></p>
        <%= link_to "Post an ad", new_ad_path %>
      <% else %>
        <p class="text-right"><%= link_to "Login", login_path %></p>
      <% end %>
      <br>
      <%= form_tag("/search", method: "post") do %>
      <%= label_tag(:q, "Search for Items:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search", :class => "btn btn-default btn-sm") %>
      <% end %>
    </div>
    <div class="jumbotron">
      <%= yield %>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
